In [8]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\naren\sql_notebook\env\lib\site-packages (9.3.0)

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql mysql+mysqlconnector://root:1234@localhost:3306/test

In [13]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost:3306/test
6 rows affected.

[('dement',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [14]:
%%sql
use test;

 * mysql+mysqlconnector://root:***@localhost:3306/test
0 rows affected.

[]

In [16]:
%%sql
create table testdetails (sno int , name varchar(20));

 * mysql+mysqlconnector://root:***@localhost:3306/test
0 rows affected.

[]

In [27]:
%%sql
select * from testdetails;

 * mysql+mysqlconnector://root:***@localhost:3306/test
1 rows affected.

[(2, 'rakesh')]

In [20]:
%%sql
insert into testdetails (sno, name) values (2,"rakesh");

 * mysql+mysqlconnector://root:***@localhost:3306/test
1 rows affected.

[]

In [24]:
%%sql
update testdetails set name="Naren karthik" ,sno=3 where sno=1;

 * mysql+mysqlconnector://root:***@localhost:3306/test
1 rows affected.

[]

In [26]:
%%sql
delete from testdetails where sno=3;

 * mysql+mysqlconnector://root:***@localhost:3306/test
1 rows affected.

[]