In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:1234@localhost/test

In [2]:
%%sql
create database test2;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [3]:
%%sql
use test2;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [4]:
%%sql
CREATE TABLE CustomerTransactions (
    id INT PRIMARY KEY,
    login_device VARCHAR(50),
    customer_name VARCHAR(100),
    ip_address VARCHAR(20),
    product VARCHAR(100),
    amount DECIMAL(10, 2),
    is_placed BOOLEAN,
    is_viewed BOOLEAN,
    transaction_status VARCHAR(20)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
INSERT INTO CustomerTransactions VALUES
(1, 'Mobile', 'Ravi', '192.168.1.1', 'Laptop', 50000.00, TRUE, FALSE, 'Completed'),
(2, 'Desktop', 'Priya', '192.168.1.2', 'Smartphone', 20000.00, TRUE, TRUE, 'Completed'),
(3, 'Tablet', 'Arjun', '192.168.1.3', 'Headphones', 1500.00, FALSE, TRUE, 'Failed'),
(4, 'Mobile', 'Meena', '192.168.1.4', 'Shoes', 2500.00, TRUE, FALSE, 'Completed'),
(5, 'Desktop', 'Karthik', '192.168.1.5', 'Watch', 5000.00, TRUE, TRUE, 'Completed'),
(6, 'Mobile', 'Sowmya', '192.168.1.6', 'Tablet', 15000.00, TRUE, TRUE, 'Completed'),
(7, 'Tablet', 'Ramesh', '192.168.1.7', 'Smartphone', 25000.00, FALSE, TRUE, 'Failed'),
(8, 'Desktop', 'Divya', '192.168.1.8', 'Laptop', 60000.00, TRUE, FALSE, 'Completed'),
(9, 'Mobile', 'Arun', '192.168.1.9', 'Smartwatch', 12000.00, TRUE, TRUE, 'Completed'),
(10, 'Tablet', 'Deepa', '192.168.1.10', 'Laptop', 55000.00, FALSE, FALSE, 'Pending');

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[]

In [6]:
%%sql
select * from CustomerTransactions;

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[(1, 'Mobile', 'Ravi', '192.168.1.1', 'Laptop', Decimal('50000.00'), 1, 0, 'Completed'),
 (2, 'Desktop', 'Priya', '192.168.1.2', 'Smartphone', Decimal('20000.00'), 1, 1, 'Completed'),
 (3, 'Tablet', 'Arjun', '192.168.1.3', 'Headphones', Decimal('1500.00'), 0, 1, 'Failed'),
 (4, 'Mobile', 'Meena', '192.168.1.4', 'Shoes', Decimal('2500.00'), 1, 0, 'Completed'),
 (5, 'Desktop', 'Karthik', '192.168.1.5', 'Watch', Decimal('5000.00'), 1, 1, 'Completed'),
 (6, 'Mobile', 'Sowmya', '192.168.1.6', 'Tablet', Decimal('15000.00'), 1, 1, 'Completed'),
 (7, 'Tablet', 'Ramesh', '192.168.1.7', 'Smartphone', Decimal('25000.00'), 0, 1, 'Failed'),
 (8, 'Desktop', 'Divya', '192.168.1.8', 'Laptop', Decimal('60000.00'), 1, 0, 'Completed'),
 (9, 'Mobile', 'Arun', '192.168.1.9', 'Smartwatch', Decimal('12000.00'), 1, 1, 'Completed'),
 (10, 'Tablet', 'Deepa', '192.168.1.10', 'Laptop', Decimal('55000.00'), 0, 0, 'Pending')]

In [7]:
%%sql
select count(*) from CustomerTransactions where transaction_status='Failed';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(2,)]

In [8]:
%%sql
select count(*) from CustomerTransactions where transaction_status in ('Failed','Pending');

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(3,)]

In [9]:
%%sql
select count(*) from CustomerTransactions where transaction_status not in ('Failed','Pending');

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(7,)]

In [10]:
%%sql
select count(*) from CustomerTransactions where transaction_status ='Failed' and Product='Laptop';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(0,)]

In [13]:
%%sql
select sum(amount) as totalrevenue from CustomerTransactions where transaction_status='Completed';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('164500.00'),)]

In [14]:
%%sql
select min(amount) as minimumamount from CustomerTransactions;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('1500.00'),)]

In [16]:
%%sql
select login_device,
sum(amount) as total_revenue from CustomerTransactions
group by login_device;

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.

[('Mobile', Decimal('79500.00')),
 ('Desktop', Decimal('85000.00')),
 ('Tablet', Decimal('81500.00'))]

In [17]:
%%sql
select login_device,
sum(amount) as total_revenue from CustomerTransactions
group by login_device
having
sum(amount)>80000;

#having work on aggr coln and onlu

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('Desktop', Decimal('85000.00')), ('Tablet', Decimal('81500.00'))]

In [22]:
%%sql
select login_device,
sum(amount) as total_revenue 
from CustomerTransactions where
amount>80000
group by login_device;

#where working on raw

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]