In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\naren\sql_notebook\env\lib\site-packages (9.3.0)

In [2]:
%load_ext sql
%sql mysql+mysqlconnector://root:1234@localhost/test

In [3]:
%%sql
use test;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [4]:
%%sql
create table employees(
employee_id int primary key,
first_name varchar(50) not null,
last_name varchar(50) not null,
hire_date date not null,
salary decimal(10,2));

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
CREATE TABLE high_paid_employees AS
SELECT 
    employee_id, 
    first_name, 
    last_name, 
    salary
FROM employees
WHERE salary > 60000;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [6]:
%%sql
CREATE TEMPORARY TABLE temp_high_paid_employees (
    employee_id INT,
    salary      DECIMAL(10,2)
);

INSERT INTO temp_high_paid_employees
SELECT 
    employee_id, 
    salary
FROM employees
WHERE salary > 60000;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]